In [4]:
import pandas as pd
import os
shelter_data_to_load = os.path.join('adoption_data.csv')
# Read shelter data and store into Pandas DataFrame
shelter_data = pd.read_csv(shelter_data_to_load)
shelter_data.head()

,State,Year,Intake - Relinquished By Owner Total-Feline,Intake - Stray At Large Total-Feline,Intake - Transferred In Total-Feline,Intake - Owner Intended Euthanasia Total-Feline,Intakes - Other Intakes Total-Feline,Live Outcome - Adoption Total-Feline,Live Outcome - Returned To Owner Total-Feline,Live Outcome - Returned To Field Total-Feline,...,Intakes - Other Intakes Total-Canine,Live Outcome - Adoption Total-Canine,Live Outcome - Returned To Owner Total-Canine,Live Outcome - Returned To Field Total-Canine,Live Outcome - Transferred Out Total-Canine,Live outcome - Other Live Outcome Total-Canine,Other Outcome - Died In Care Total-Canine,Other Outcome - Lost In Care Total-Canine,Other Outcome - Owner Intended Euthanasia Total-Canine,Other Outcome - Shelter Euthanasia Total-Canine
0,AK,2019,850,"1,786",32,67,68,"1,689",353,0,...,0,0,0,0,0,0,0,0,0,0
1,AK,2020,800,"1,404",61,51,68,"1,755",331,0,...,0,0,0,0,0,0,0,0,0,0
2,AK,2021,743,"1,522",85,37,70,"1,886",289,1,...,0,0,0,0,0,0,0,0,0,0
3,AL,2019,"5,006","7,199",811,16,467,"7,582",140,744,...,494,"9,484","2,895",15,"5,927",1,310,27,111,"3,094"
4,AL,2020,"3,495","6,803",527,19,525,"6,816",140,747,...,413,"7,480","2,303",16,"6,483",5,253,21,63,"2,054"